<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBF-bNDQd-H2Ggho1-9ngj9ZYiuAnlx9U4</string>
	<key>GCM_SENDER_ID</key>
	<string>92035119165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busiraq.busIraq2</string>
	<key>PROJECT_ID</key>
	<string>bus-iraq</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-iraq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92035119165:ios:9710b1f2929344d8f3d254</string>
</dict>
</plist>